# This workflow uses npm to install the dependencies, and then lint the files with Prettier.

# This workflow is adapted from the one that the Prettier project uses.
# It is licensed under the MIT license.

# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Prettier

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Do not install Husky in GitHub Actions environment.
env:
  HUSKY: 0

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies with npm
        run: npm ci

      - name: Lint files with Prettier
        run: npm run prettier
